    {% extends "layout.njk" %}

    {% block content %}

    <div class="card">   
       <table>
          <thead>
            <tr>
                  <th>instrutor</th>
                  <th>Atendimento</th>
            </tr>
          </thead>
         {% for instructor in instructors %}

          <td> {{instructor.name}}</td>
          <td>{{instructor.services}}</td>

         {% endfor %}
       </table>

    </div>

    {% endblock %}